// @use "../node_modules/icheck-bootstrap/scss/icheck-bootstrap" with (
//     $size: 27px,
//     $custom-colors: (
//       'success': #FFFF00 #FF0000 #00FF00,
//       'mycolor': #FF0000,
//     )
// );
/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '../node_modules/icheck-bootstrap/icheck-bootstrap.css';
// @import '~icheck-bootstrap/icheck-bootstrap.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

@import 'ngx-toastr/toastr';
@import '~@ng-select/ng-select/themes/default.theme.css';

// @import "~ngx-spinner/animations/ball-circus.css";

body {
    //width: 100vw;
    // height: 100vh;
}

// ::-webkit-scrollbar {
//     width: 0px;
//     background: transparent;
// }

.user-menu > .nav-link {
    cursor: pointer;
}

.fa-eye{
    cursor: pointer !important;
}

.content {
    // padding: 0 0.5rem;
    padding: 0;
}

// Sidebar menu animation
// Needed for open/close menu animation for menus with child nodes
.nav .nav-item:not(.menu-open) > .ng-trigger-openClose,
.nav .nav-item > .ng-trigger-openClose.ng-animating {
    overflow: hidden;
    display: block;
}

// Override original AdminLTE transform
.nav-sidebar .menu-is-opening > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-open > .nav-link svg.right {
    transform: none;
}

hr {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.card-title {
    margin-bottom: 0rem !important;
}

.profile-user-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 150px !important;
}

// html,
// body {
//     // height: 100%;
// }
// body {
//     margin: 0;
//     font-family: Roboto, 'Helvetica Neue', sans-serif;
// }

.content-header {
    padding-top: 2px !important;
    padding-bottom: 0px !important;
}

.h3Font {
    font-size: 1.3rem;
}

.opacity-0 {
    opacity: 0;
}

.opacity-10 {
    opacity: 0.1;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-30 {
    opacity: 0.3;
}

.opacity-40 {
    opacity: 0.4;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-60 {
    opacity: 0.6;
}

.opacity-70 {
    opacity: 0.7;
}

.opacity-80 {
    opacity: 0.8;
}

.opacity-90 {
    opacity: 0.9;
}

.opacity-100 {
    opacity: 1;
}

.card-details-box {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0.5em;
    // margin-left: -0.5em;
    // margin-right: -0.5em;
    // margin-bottom: 0.5em;
}

td {
    white-space: normal !important; // To consider whitespace.
}

.requiredField {
    color: red;
}

.nounderline {
    text-decoration: none !important;
}

.light-blue-backdrop {
    background-color: rgba(0, 0, 0, 0.5) !important;
    backdrop-filter: blur(5px) !important;
}

.schoolweb-datatable-props {
    width: 100% !important;
    table-layout: fixed !important;
}

// table .icheck-success {
//     min-height: 0 !important;
//   }

.icheck-success[class*='icheck-'] > label {
    padding-left: 22px !important;
    line-height: 18px;
}
.icheck-success[class*='icheck-']
    > input:first-child
    + input[type='hidden']
    + label::before,
.icheck-success[class*='icheck-'] > input:first-child + label::before {
    width: 18px;
    height: 18px;
    border-radius: 5px;
    margin-left: -22px;
}

.icheck-success[class*='icheck-']
    > input:first-child:checked
    + input[type='hidden']
    + label::after,
.icheck-success[class*='icheck-'] > input:first-child:checked + label::after {
    top: 0px;
    width: 4px;
    height: 8px;
    left: 0px;
}

.c-radius {
    border-radius: 5px !important;
}

th,
td {
    padding: 0.25em !important;
    padding-left: 0.5em !important;
}

.form-group {
    margin-bottom: 0.25rem !important;
}

.eventCard {
    background-color: #eeeeee !important;
}

table.table.dataTable tr.bg-danger-subtle > td {
  background-color: #f8d7da !important;
  color: #842029 !important;
}

table.table.dataTable tr.bg-warning-subtle > td {
  background-color: #fff3cd !important;
  color: #664d03 !important;
}

table.table.dataTable tr.bg-success-subtle > td {
  background-color: #d1e7dd !important;
  color: #0f5132 !important;
}

.disabled-link {
  pointer-events: none; /* or remove this if you still want the hover/click effect but no routing */
  opacity: 0.6;
  cursor: not-allowed;
}
// .truncate-multiline {
//   display: -webkit-box;
//   -webkit-line-clamp: 2; /* or 2 lines */
//   -webkit-box-orient: vertical;
//   overflow: hidden;
// }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
