table.table.dataTable tr.bg-danger-subtle > td {
  background-color: #f8d7da !important;
  color: #842029 !important;
}

table.table.dataTable tr.bg-warning-subtle > td {
  background-color: #fff3cd !important;
  color: #664d03 !important;
}