<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<div
    class="modal fade"
    id="gradeFormModal"
    tabindex="-1"
    attr.aria-labelledby="GradeModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="GradeFormModalLabel">
                    Grade details
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-grades-add-form (addItemEvent)="addGrade($event)"
                [curricula]="curricula" (errorEvent)="errorEvent($event)"
                [editMode]="false"></app-grades-add-form>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row g-0">
            <div class="col-6">
                <app-curriculum-year-filter-form
                    [showCurriculum]="true" (searchItemEvent)="searchClicked($event)"
                    (curriculumChangedEvent)="curriculumChanged($event)"
                    [curricula]="curricula"></app-curriculum-year-filter-form>
            </div>
            <div class="col-6">
                <app-table-button modelName="grade"
                    buttonTitle="Add grade"></app-table-button>
            </div>
        </div>
        <div class="card">
            <app-table-heading [editControls]="true"
                tableTitle="{{tableTitle}} - {{grades.length}} items"></app-table-heading>
            <div class="card-body table-responsive p-0">
                <table class="table table-striped table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th *ngFor="let header of tableHeaders">
                                {{ header }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of grades| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as i">
                            <td>{{ item.name }}</td>
                            <td>{{ item.abbr }}</td>
                            <td>{{ item.rank }}</td>
                            <td>{{ item.minScore }}</td>
                            <td>{{ item.maxScore }}</td>
                            <td>{{ item.points }}</td>
                            <td>{{ item.remarksSwa }}</td>
                            <td>{{ item.remarksEng }}</td>
                            <td>{{ item.curriculum?.name }}</td>
                            <app-table-action
                                (editItemEvent)="editItem(item.id)"
                                (deleteItemEvent)="deleteItem(item.id)"></app-table-action>
                        </tr>
                    </tbody>
                </table>
                <app-table-paging
                    [collectionSize]="grades.length" (pageChangedEvent)="pageChanged($event)"
                    (pageSizeChangedEvent)="pageSizeChanged($event)"></app-table-paging>
            </div>
        </div>
    </div>
</section>