<form [formGroup]="subjectGroupForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <div class="card-details-box border-info mb-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Subject group name: <span
                                class="requiredField">*</span></label>
                        <input id="name" placeholder="Subject group name" type="text"
                            class="form-control form-control-sm" formControlName="name" [ngClass]="{
                            'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid
                            }" />
                        <div class="invalid-feedback">Subject group name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="curriculumId" class="form-label">Curriculum: <span
                                class="requiredField">*</span></label>
                        <select class="form-select form-select-sm" aria-label="Select curriculum"
                            formControlName="curriculumId" id="curriculumId" [ngClass]="{
                                'is-invalid': (f.curriculumId.dirty || f.curriculumId.touched) && f.curriculumId.invalid
                                }">
                            <option [ngValue]="null" hidden disabled selected>Select
                                curriculum</option>
                            <option [ngValue]="curriculum.id" *ngFor="let curriculum of
                                curricula">{{curriculum.name}}</option>
                        </select>
                        <div class="invalid-feedback"> Curriculum is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="abbreviation">Abbreviation: </label>
                        <input id="abbreviation" placeholder="Enter abbreviation" type="text"
                            class="form-control form-control-sm" formControlName="abbreviation" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="rank">Rank: <span
                                class="requiredField">*</span></label>
                        <input id="rank" placeholder="Rank" type="number"
                            class="form-control form-control-sm" formControlName="rank" [ngClass]="{
                            'is-invalid': (f.rank.dirty || f.rank.touched) && f.rank.invalid
                            }" />
                        <div class="invalid-feedback">Rank is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea placeholder="Subject group description" id="description"
                            class="form-control form-control-sm" rows="2" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="modal-footer p-1">
            <button type="submit" [disabled]="subjectGroupForm.invalid" class="btn
                btn-success"> <i class="fas fa-save"></i>
                {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                #closeButton (click)="closeSubjectGroupForm()">
                <i class="fas fa-times"></i> Close
            </button>
        </div>
    </div>
</form>