################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolWebApp-API/Project.Core/Entities/Academics/ExamName.cs
