<form class="px-1" [formGroup]="studentAttendanceSearchForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row g-0">
        <div class="col-2 py-1 pe-0">
            <select class="form-select form-select-sm" aria-label="Curriculum"
                (change)="curriculumChanged()"
                formControlName="curriculumId" id="curriculumId">
                <option [ngValue]="null" selected>-Curriculum-</option>
                <option [ngValue]="curriculum.id" *ngFor="let curriculum of
                                curricula">{{curriculum.name}}</option>
            </select>
        </div>
        <div class="col-2 py-1 px-1">
            <select class="form-select form-select-sm" aria-label="Academic year"
                (change)="educationLevelYearChanged()"
                formControlName="academicYearId" id="academicYearId">
                <option [ngValue]="null" selected>-Year-</option>
                <option [ngValue]="academicYear.id" *ngFor="let academicYear of
                                    academicYears">{{academicYear.name}}</option>
            </select>
        </div>
        <div class="col-2 py-1 px-0">
            <select class="form-select form-select-sm" aria-label="Education level"
                (change)="educationLevelYearChanged()"
                formControlName="educationLevelId" id="educationLevelId">
                <option [ngValue]="null" selected>-Level-</option>
                <option [ngValue]="educationLevel.id" *ngFor="let educationLevel of
                                    educationLevels">{{educationLevel.name}}</option>
            </select>
        </div>
        <div class="col-2 py-1 px-1">
            <select class="form-select form-select-sm" aria-label="Class"
                (change)="schoolClassChanged()"
                formControlName="schoolClassId" id="schoolClassId">
                <option [ngValue]="null" selected>-Class-</option>
                <option [ngValue]="schoolClass.id" *ngFor="let schoolClass of
                                    schoolClasses">{{schoolClass.name}}</option>
            </select>
        </div>
        <div class="col-2 py-1 px-0">
            <input placeholder="Attendance date" id="attendanceDate" type="date" aria-label="attendance date" max="{{today}}"
                class="form-control form-control-sm" formControlName="attendanceDate" (change)="dateChanged()"/>
        </div>

        <div class="col-2 py-1 ps-1">
            <button type="submit" [disabled]="studentAttendanceSearchForm.invalid"
                class="btn btn-sm btn-flat btn-warning btn-block">
                <i class="fas fa-sync"></i> Search
            </button>
        </div>
    </div>
</form>