<form class="px-0" [formGroup]="dateMonthYearFilterForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row g-0">
         <ng-content *ngIf="showStaffCategory">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Staff category"
                    (change)="staffCategoryChanged()"
                    formControlName="staffCategoryId" id="staffCategoryId">
                    <option [ngValue]="null" selected>-Staff category-</option>
                    <option [ngValue]="staffCategory.id" *ngFor="let staffCategory of
                                    staffCategories">{{staffCategory.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showSchoolClass">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Student class "
                    (change)="studentClassChanged()"
                    formControlName="studentClassId" id="studentClassId">
                    <option [ngValue]="null" selected>-Student class-</option>
                    <option [ngValue]="studentClass.id" *ngFor="let studentClass of
                                studentClasses">{{studentClass.schoolClass?.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showMonth">
            <div class="col py-1 pe-0">
                <select class="form-select form-select-sm" aria-label="Month"
                    (change)="monthChanged()"
                    formControlName="month" id="month">
                    <option [ngValue]="null" selected>-Month-</option>
                    <option [ngValue]="month" *ngFor="let month of
                                months">{{getMonthName(month)}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showYear">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Year"
                    (change)="yearChanged()"
                    formControlName="year" id="year">
                    <option [ngValue]="null" selected>-Year-</option>
                    <option [ngValue]="year" *ngFor="let year of
                                    years">{{year}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showDateFrom">
            <div class="col py-1 px-1">
                <div class="d-flex align-items-center gap-2">
                    <b>From:</b>
                    <input placeholder="Date from" id="dateFrom" type="date"
                        aria-label="Date from" class="form-control form-control-sm"
                        formControlName="dateFrom"
                        (change)="dateFromChanged()" />
                </div>
            </div>
        </ng-content>
        <ng-content *ngIf="showDateTo">
            <div class="col py-1 px-0">
                <div class="d-flex align-items-center gap-2">
                    <b>To:</b>
                    <input placeholder="Date to" id="dateTo" type="date"
                        aria-label="Date to" class="form-control form-control-sm"
                        formControlName="dateTo"
                        (change)="dateToChanged()" />
                </div>
            </div>
        </ng-content>
        <div class="col py-1 ps-1">
            <button type="submit" [disabled]="dateMonthYearFilterForm.invalid"
                class="btn btn-sm btn-flat btn-warning">
                <i class="fas fa-sync"></i> Search
            </button>
        </div>
    </div>
</form>