<form [formGroup]="staffDisciplineForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <app-staff-details-view [staffDetails]="staff" [statuses]="statuses" [alignment]="'reduced'"
            *ngIf="statuses"></app-staff-details-view>
        <div class="border border-info mt-1 p-1 rounded">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="occurenceStartDate">Occurence start date: <span
                                class="requiredField">*</span></label>
                        <input placeholder="Enter occurence start date" [readOnly]="action==='view'"
                            id="occurenceStartDate" type="date" class="form-control"
                            formControlName="occurenceStartDate" [ngClass]="{
                                'is-invalid': (f.occurenceStartDate.dirty || f.occurenceStartDate.touched) && f.occurenceStartDate.invalid
                                }" />
                        <div class="invalid-feedback"> Start date is greater than end date</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="occurenceEndDate">Occurence end date: <span
                                class="requiredField">*</span></label>
                        <input placeholder="Enter occurence end date" [readOnly]="action==='view'"
                            id="occurenceEndDate" type="date" class="form-control"
                            formControlName="occurenceEndDate" [ngClass]="{
                                'is-invalid': (f.occurenceEndDate.dirty || f.occurenceEndDate.touched) && f.occurenceEndDate.invalid
                                }" />
                        <div class="invalid-feedback">Occurence end date is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="occurenceDetails">Occurence details</label>
                        <textarea placeholder="Enter occurence details" id="occurenceDetails"
                            class="form-control" rows="2" [readOnly]="action==='view'"
                            formControlName="occurenceDetails"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="border border-warning mt-1 p-1 rounded">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="occurenceTypeId" class="form-label">Occurence type:</label>
                        <select [attr.disabled]="action==='view' ? 'disabled':null"
                            class="form-control"
                            aria-label="Select occurence type" formControlName="occurenceTypeId"
                            id="occurenceTypeId">
                            <option [ngValue]="null" hidden disabled selected>Select occurence
                                type</option>
                            <option [ngValue]="occurenceType.id" *ngFor="let occurenceType of
                                occurenceTypes">{{occurenceType.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="outcomeId" class="form-label">Outcome:</label>
                        <select [attr.disabled]="action==='view' ? 'disabled':null"
                            class="form-control"
                            aria-label="Select outcome"
                            formControlName="outcomeId" id="outcomeId">
                            <option [ngValue]="null" hidden disabled selected>Select
                                outcome</option>
                            <option [ngValue]="outcome.id"
                                *ngFor="let outcome of
                                outcomes">{{outcome.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="outcomeDetails">Outcome details</label>
                        <textarea [readOnly]="action==='view'" placeholder="Enter outcome details"
                            id="outcomeDetails"
                            class="form-control" rows="2"
                            formControlName="outcomeDetails"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer p-1">
        <button *ngIf="action !=='view'" type="submit" [disabled]="staffDisciplineForm.invalid"
            class="btn
                btn-success"> <i class="fas fa-save"></i>
            {{ action==='edit' ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
            #closeButton (click)="closeStaffDisciplineForm()">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</form>