<form [formGroup]="departmentForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body">
        <div class="card-details-box border-info">            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="code">Department code: <span
                                class="requiredField">*</span></label>
                        <input id="code" placeholder="Enter department code" type="text"
                            class="form-control" formControlName="code" [ngClass]="{
                                'is-invalid': (f.code.dirty || f.code.touched) && f.code.invalid
                                }" />
                        <div class="invalid-feedback">Department code is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Department name: <span
                                class="requiredField">*</span></label>
                        <input id="name" placeholder="Enter department name" type="text"
                            class="form-control" formControlName="name" [ngClass]="{
                            'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid
                            }" />
                        <div class="invalid-feedback">Department name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="staffDetailsId" class="form-label">Head of department:</label>
                        <ng-select labelForId="staffDetailsId" [items]="staffDetails"
                            bindLabel="fullName"
                            formControlName="staffDetailsId"
                            placeholder="Select head of department">
                            <ng-template ng-label-tmp let-item="item">
                                <span>{{ item.fullName }}</span>
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-search="searchTerm"
                                let-index="index">
                                <span>{{ item.fullName}}</span>
                            </ng-template>
                        </ng-select>
                        <div class="invalid-feedback"> Head of department is required</div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="staffDetailsId" class="form-label">Head of department: <span
                                class="requiredField">*</span></label>
                        <select class="form-select form-select-sm" aria-label="Select head of department"
                            formControlName="staffDetailsId" id="staffDetailsId" [ngClass]="{
                                'is-invalid': (f.staffDetailsId.dirty || f.staffDetailsId.touched) && f.staffDetailsId.invalid
                                }">
                            <option [ngValue]="null" hidden disabled selected>Select head of
                                department</option>
                            <option [ngValue]="staffDetail.id" *ngFor="let staffDetail of
                                staffDetails">{{staffDetail.fullName}}</option>
                        </select>
                        <div class="invalid-feedback"> Head of department is required</div>
                    </div>
                </div>
            </div> -->
            
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea placeholder="Enter description" id="description"
                            class="form-control" rows="3" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="departmentForm.invalid" class="btn
                btn-success"> <i class="fas fa-save"></i>
                {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                #closeButton (click)="closeDepartmentForm()">
                <i class="fas fa-times"></i> Close
            </button>
        </div>
    </div>
</form>