<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<div
    class="modal fade"
    id="eventFormModal"
    tabindex="-1"
    attr.aria-labelledby="EventModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="EventFormModalLabel">
                    Event details
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-events-add-form (addItemEvent)="addEvent($event)"
                [sessions]="sessions" [academicYears]="academicYears"
                (errorEvent)="errorEvent($event)"
                [editMode]="false" *ngIf="sessions"></app-events-add-form>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row g-0">
            <ng-content *ngIf="querySource==='dashboard'">
                <div class="col">
                    <a
                        class="btn btn-flat btn-sm btn-warning float-left my-1"
                        [routerLink]="['/']"
                        [routerLinkActive]="'active'"><i class="fas fa-angle-double-left"></i> Back to dashboard</a>

                </div>
            </ng-content>
            <div class="col">
                <app-school-soft-filter-form
                    [showAcademicYear]="true" (searchItemEvent)="searchClicked($event)"
                    (academicYearChangedEvent)="academicYearChanged($event)"
                    [academicYears]="academicYears"></app-school-soft-filter-form>
            </div>
            <div class="col">
                <app-table-button modelName="event"
                    [btnClasses]="'btn btn-sm btn-flat btn-success float-right my-1'"
                    buttonTitle="Add event"></app-table-button>
            </div>
        </div>
        <app-events-table [events]="events" [academicYears]="academicYears"
            (deleteItemEvent)="deleteItem($event)" (resetFormEvent)="resetForm()"
            (editItemEvent)="editItem($event)"></app-events-table>
    </div>
</section>