<form [formGroup]="schoolClassForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <div class="card-details-box border-info mb-1">
            <app-year-class-stream [academicYears]="academicYears" [learningLevels]="learningLevels"
                [schoolStreams]="schoolStreams" [f]="schoolClassForm"
                *ngIf="academicYears && learningLevels && schoolStreams && schoolClassForm"></app-year-class-stream>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Class name: <span
                                class="requiredField">*</span></label>
                        <input id="name" placeholder="Enter class name" type="text"
                            class="form-control form-control-sm" formControlName="name"
                            [ngClass]="{ 'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid }" />
                        <div class="invalid-feedback">Enter class name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="rank" class="form-label">Rank: <span
                                class="requiredField">*</span></label>
                        <input id="rank" placeholder="Class rank" type="number"
                            class="form-control form-control-sm" formControlName="rank" [ngClass]="{
                            'is-invalid': (f.rank.dirty || f.rank.touched) && f.rank.invalid
                            }" />
                        <div class="invalid-feedback">Class rank is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Description:</label>
                        <textarea placeholder="Enter description" id="description"
                            class="form-control form-control-sm" rows="2" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-1">
            <button type="submit" [disabled]="schoolClassForm.invalid" class="btn
                btn-success"> <i class="fas fa-save"></i>
                {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                #closeButton (click)="closeSchoolClassForm()">
                <i class="fas fa-times"></i> Close
            </button>
        </div>
    </div>
</form>