<div class="modal fade" id="studentAttendanceFormModal" tabindex="-1"
    attr.aria-labelledby="studentAttendanceItemModalLabel" aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="studentAttendanceFormModalLabel">
                    Record student attendance
                </h5>
            </div>
            <app-student-attendance-form [student]="student" [studentAttendance]="studentAttendance"
                [statuses]="statuses"
                (addItemEvent)="AddStudentAttendance($event)"
                *ngIf="student"></app-student-attendance-form>
        </div>
    </div>
</div>

<div class="row g-0">
    <div class="col-9">
        <app-school-soft-filter-form [showMonth]="true" [months]="months"
            [showStudentClass]="true"
            (monthChangedEvent)="monthChanged($event)" [studentClasses]="studentClasses"
            (studentClassChangedEvent)="schoolClassChanged($event)"
            (searchItemEvent)="searchStudentAttendances($event)"></app-school-soft-filter-form>
    </div>
    <div class="col-3">
        <app-table-button btnClasses="btn btn-sm btn-flat btn-success float-right my-1"
            modelName="studentAttendance" buttonTitle="Add attendance"></app-table-button>
    </div>
</div>

<app-student-attendance-table [tableTitle]="'Student attendance list'" *ngIf="isDoneLoading"
    [studentAttendances]="studentAttendances"
    (editItemEvent)="editItem($event)" (viewItemEvent)="editItem($event)"
    (deleteItemEvent)="deleteItem($event)"></app-student-attendance-table>