<div class="modal fade" id="studentAttendanceFormModal" tabindex="-1"
    attr.aria-labelledby="studentAttendanceItemModalLabel" aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="studentAttendanceFormModalLabel">
                    Record student attendance
                </h5>
            </div>
            <app-student-attendance-form [student]="student" [studentAttendance]="studentAttendance" [statuses]="statuses"
            (addItemEvent)="AddStudentAttendance($event)"
            *ngIf="student" ></app-student-attendance-form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <app-table-button btnClasses="btn btn-sm btn-flat btn-success float-right mb-1"
            modelName="studentAttendance" buttonTitle="Add attendance"></app-table-button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-student-attendance-table [tableTitle]="'Student attendance list'"
            [schoolClasses]="schoolClasses" *ngIf="schoolClasses && studentAttendances"
            [studentAttendances]="studentAttendances" [showLoginControls]="false"
            (editItemEvent)="editItem($event)" (viewItemEvent)="editItem($event)"
            (deleteItemEvent)="deleteItem($event)"
            [student]="student"></app-student-attendance-table>
    </div>
</div>