<app-dashboard-header [title]="dashboardTitle" [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr class="my-1">
<section class="content">
    <div class="container-fluid">
        <app-dashboard-summary></app-dashboard-summary>
        <hr class="mb-1 mx-n2">
        <div class="row">
            <div class="col-6 px-1">
                <app-todolists></app-todolists>
            </div>
            <div class="col-6 pl-0 pr-1">
                <app-events-dashboard></app-events-dashboard>
            </div>
        </div>
    </div>
</section>