<app-dashboard-header [title]="dashboardTitle" [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<section class="content">
    <div class="container-fluid">
        <app-dashboard-summary></app-dashboard-summary>

        <div class="row">
            <div class="col-6">
                <app-todolists></app-todolists>
            </div>
            <div class="col-6">
                <!-- <app-hospital-dash-appointments></app-hospital-dash-appointments> -->
            </div>
        </div>
    </div>
</section>