<form [formGroup]="generalOutcomeForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <div class="card-details-box border-info mb-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">General outcome name: <span
                                class="requiredField">*</span></label>
                        <input id="name" placeholder="General outcome name" type="text"
                            class="form-control form-control-sm" formControlName="name" [ngClass]="{
                            'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid
                            }" />
                        <div class="invalid-feedback">General outcome name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea placeholder="General outcome description" id="description"
                            class="form-control form-control-sm" rows="2" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="educationLevelTypeId" class="form-label">Education level type: <span
                                class="requiredField">*</span></label>
                        <select class="form-select form-select-sm" aria-label="Select education level"
                            formControlName="educationLevelTypeId" id="educationLevelTypeId" [ngClass]="{
                                'is-invalid': (f.educationLevelTypeId.dirty || f.educationLevelTypeId.touched) && f.educationLevelTypeId.invalid
                                }">
                            <option [ngValue]="null" hidden disabled selected>Select education
                                level</option>
                            <option [ngValue]="level.id" *ngFor="let level of
                                educationLevelTypes">{{level.name}}</option>
                        </select>
                        <div class="invalid-feedback">Education level type is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="rank" class="form-label">Rank: <span
                                class="requiredField">*</span></label>
                        <input id="rank" placeholder="General outcome rank" type="number"
                            class="form-control form-control-sm" formControlName="rank" [ngClass]="{
                            'is-invalid': (f.rank.dirty || f.rank.touched) && f.rank.invalid
                            }" />
                        <div class="invalid-feedback">General outcome rank is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-1">
            <button type="submit" [disabled]="generalOutcomeForm.invalid" class="btn
                btn-success"> <i class="fas fa-save"></i>
                {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                #closeButton (click)="closeGeneralOutcomeForm()">
                <i class="fas fa-times"></i> Close
            </button>
        </div>
    </div>
</form>