<form [formGroup]="learningLevelForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <div class="card-details-box border-info mb-1">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="name">Learning level name: <span
                                class="requiredField">*</span></label>
                        <input id="name" placeholder="Learning level name" type="text"
                            class="form-control form-control-sm" formControlName="name" [ngClass]="{
                            'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid
                            }" />
                        <div class="invalid-feedback">Learning level name is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea placeholder="Learning level description" id="description"
                            class="form-control form-control-sm" rows="2" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="educationLevelId" class="form-label">Education level: <span
                                class="requiredField">*</span></label>
                        <select class="form-select form-select-sm" aria-label="Select education level"
                            formControlName="educationLevelId" id="educationLevelId" [ngClass]="{
                                'is-invalid': (f.educationLevelId.dirty || f.educationLevelId.touched) && f.educationLevelId.invalid
                                }">
                            <option [ngValue]="null" hidden disabled selected>Select education
                                level</option>
                            <option [ngValue]="educationLevel.id" *ngFor="let educationLevel of
                                educationLevels">{{educationLevel.name}}</option>
                        </select>
                        <div class="invalid-feedback">Education level is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="rank" class="form-label">Rank: <span
                                class="requiredField">*</span></label>
                        <input id="rank" placeholder="Learning level rank" type="number"
                            class="form-control form-control-sm" formControlName="rank" [ngClass]="{
                            'is-invalid': (f.rank.dirty || f.rank.touched) && f.rank.invalid
                            }" />
                        <div class="invalid-feedback">Learning level rank is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer p-1">
            <button type="submit" [disabled]="learningLevelForm.invalid" class="btn
                btn-success"> <i class="fas fa-save"></i>
                {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                #closeButton (click)="closeLearningLevelForm()">
                <i class="fas fa-times"></i> Close
            </button>
        </div>
    </div>
</form>