
<div *ngIf="controlContainer?.control?.get(controlName) as control">
    <div class="form-group mb-1">
        <label *ngIf="showLabel" for="date">Student class: <span class="requiredField">*</span></label>
        <select class="form-select form-select-sm"
            [id]="controlName"
            [formControlName]="controlName">
            <option [ngValue]="null">{{controlInstruction}}</option>
            <option [ngValue]="studentClass.id" *ngFor="let studentClass of
                    studentClasses">{{studentClass.schoolClass?.name}}</option>
        </select>
    </div>
</div>