<form [formGroup]="studentSubjectsForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <app-student-details-view [studentDetails]="student" [statuses]="statuses"
            [alignment]="'reduced'"
            *ngIf="statuses"></app-student-details-view>
        <div class="border border-info my-1 p-1 rounded">
            <div class="row">
                <div class="col-6">
                        <app-student-classes [student]="student" *ngIf="student" controlName="studentClassId" controlInstruction="Select student class"
                    controlTitle="Student class" (studentClassChanged)="studentClassChanged($event)"></app-student-classes>
                </div>
            </div>
            <div class="row">
                <app-subjects-table [tableTitle]="'Subjects list'" [subjects]="subjects"
                    *ngIf="showSubjectsTbl"
                    [showCheckBoxes]="true" [showAllCols]="false"></app-subjects-table>
            </div>
        </div>
    </div>
    <div class="modal-footer p-1">
        <button *ngIf="action !=='view'" type="submit" [disabled]="studentSubjectsForm.invalid"
            class="btn
                btn-success"> <i class="fas fa-save"></i>
            Update Record
        </button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
            #closeButton (click)="closeStudentSubjectsForm()">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</form>