<pf-dropdown [hideArrow]="true">
    <div slot="button">
        <a class="nav-link">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge" *ngIf="notificationCount > 0">{{notificationCount}}</span>
        </a>
    </div>
    <div slot="menu">
        <span class="dropdown-item dropdown-header" *ngIf="notificationCount > 0">{{notificationCount}} Pending Task{{notificationCount !== 1 ? 's' : ''}}</span>
        <span class="dropdown-item dropdown-header" *ngIf="notificationCount === 0">No pending tasks</span>

        <ng-container *ngIf="overdueTodos.length > 0">
            <div class="dropdown-divider"></div>
            <span class="dropdown-item dropdown-header text-danger py-1" style="font-size: 0.75rem;">OVERDUE</span>
            <a *ngFor="let todo of overdueTodos" class="dropdown-item" (click)="goToDashboard()" role="button">
                <i class="fas fa-exclamation-circle mr-2 text-danger"></i>
                <span class="text-truncate d-inline-block" style="max-width: 180px;">{{ todo.itemName }}</span>
                <span class="float-right text-muted text-sm">{{ getTimeAgo(todo.completeBy) }}</span>
            </a>
        </ng-container>

        <ng-container *ngIf="pendingTodos.length > 0">
            <div class="dropdown-divider"></div>
            <span class="dropdown-item dropdown-header text-info py-1" style="font-size: 0.75rem;">UPCOMING</span>
            <a *ngFor="let todo of pendingTodos" class="dropdown-item" (click)="goToDashboard()" role="button">
                <i class="far fa-clock mr-2 text-info"></i>
                <span class="text-truncate d-inline-block" style="max-width: 180px;">{{ todo.itemName }}</span>
                <span class="float-right text-muted text-sm">{{ getTimeAgo(todo.completeBy) }}</span>
            </a>
        </ng-container>

        <div class="dropdown-divider"></div>
        <a class="dropdown-item dropdown-footer" (click)="goToDashboard()" role="button">
            View All Tasks
        </a>
    </div>
</pf-dropdown>
