<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>

<div
    class="modal fade"
    id="{{tableModel}}FormModal"
    tabindex="-1"
    attr.aria-labelledby="{{tableModel}}ModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="{{tableModel}}FormModalLabel">
                    {{tableModel | titlecase }} details - {{ editMode ? 'Edit' : 'Add' }}
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="curriculumForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Curriculum name: <span
                                        class="requiredField">*</span></label>
                                <input id="name" placeholder="Curriculum name" type="text"
                                    class="form-control" formControlName="name" [ngClass]="{
                                    'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid
                                    }" />
                                <div class="invalid-feedback"> Curriculum name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Code</label>
                                <input id="code" placeholder="Curriculum code" type="text"
                                    class="form-control" formControlName="code" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="rank" class="form-label">Rank: <span
                                        class="requiredField">*</span></label>
                                <input id="rank" placeholder="rank" type="number"
                                    class="form-control" formControlName="rank" [ngClass]="{
                                    'is-invalid': (f.rank.dirty || f.rank.touched) && f.rank.invalid
                                    }" />
                                <div class="invalid-feedback">Rank is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea placeholder="Curriculum description" id="description"
                                    class="form-control" rows="2"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="curriculumForm.invalid" class="btn
                        btn-success"> <i class="fas fa-save"></i>
                        {{ editMode ? 'Update' : 'Save' }}
                    </button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                        (click)="refreshItems()">
                        <i class="fas fa-times"></i> Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-table-button modelName="curriculum"
                    buttonTitle="Add Curriculum"></app-table-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <app-table-heading tableTitle="{{tableTitle}}"></app-table-heading>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of tableHeaders">
                                        {{ header }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of curricula;index as i">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.code }}</td>
                                    <td>{{ item.rank }}</td>
                                    <td>{{ item.description }}</td>
                                    <app-table-action
                                        (editItemEvent)="editItem(item.id)"
                                        (deleteItemEvent)="deleteItem(item.id)"></app-table-action>
                                </tr>
                            </tbody>
                        </table>
                        <app-table-paging (pageChangedEvent)="pageChanged($event)"
                            (pageSizeChangedEvent)="pageSizeChanged($event)"
                            [collectionSize]="curricula.length"
                            (onInitEvent)="resetForm()"></app-table-paging>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
