<div class="row">
    <div class="col-lg-3 col-6 px-1">
        <a [routerLink]="['/students/details']" class="nounderline"
            [queryParams]='{active: true}'>
            <div class="small-box bg-info opacity-60 mb-1 ">
                <div class="inner">
                    <h3>{{studentCount}}</h3>
                    <p>Students</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-graduate"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6 px-0">
        <a [routerLink]="['/students/parents']" [queryParams]='{active: true}' class="nounderline">
            <div class="small-box bg-success opacity-60 mb-1">
                <div class="inner">
                    <h3>{{parentsCount}}</h3>
                    <p>Parents</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-alt"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6 px-1">
        <a [routerLink]="['/staff/details']"
            [queryParams]='{active: true, staffCategoryId: teachingStaffCategoryId}'
            class="nounderline">
            <div class="small-box bg-warning opacity-60 mb-1">
                <div class="inner">
                    <h3>{{teachingStaffCount}}</h3>
                    <p>Teaching Staff</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user-tie"></i>
                </div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-6 pl-0 pr-1">
        <a [routerLink]="['/staff/details']"
            [queryParams]='{active: true, staffCategoryId: nonTeachingStaffCategoryId}'
            class="nounderline">
            <div class="small-box bg-danger opacity-60 mb-1">
                <div class="inner">
                    <h3>{{nonTeachingStaffCount}}</h3>
                    <p>Non-Teaching Staff</p>
                </div>
                <div class="icon">
                    <i class="fas fa-user"></i>
                </div>
            </div>
        </a>
    </div>
</div>