<div class="modal fade" id="studentParentFormModal" tabindex="-1"
    attr.aria-labelledby="studentParentItemModalLabel" aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50 p-2">
                <h5 class="modal-title" id="studentParentFormModalLabel">
                    Record student parents
                </h5>
            </div>
            <app-student-parents-existing-form [studentParent]="studentParent"
                [statuses]="statuses"
                [student]="student" [relationShips]="relationships" [parents]="parents"
                (addItemEvent)="AddStudentParent($event)"
                *ngIf="student && relationships && parents"></app-student-parents-existing-form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-8">

    </div>
    <div class="col-2 mt-1">
        <app-table-button btnClasses="btn btn-sm btn-flat btn-warning float-right mb-1"
            modelName="studentParent" buttonTitle="Add existing parent"></app-table-button>
    </div>
    <div class="col-2 mt-1">
        <a
            [routerLink]="['/students/parents/add']"
            [queryParams]="{sId: studentId}"
            [routerLinkActive]="'active'"
            class="btn btn-sm btn-flat btn-success float-right mb-1">
            <i class="fas fa-plus-circle"></i> Add new parent
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <app-student-parents-table [occupations]="occupations"
            [nationalities]="nationalities" [tableTitle]="'Student parents list'"
            *ngIf="studentParents && nationalities && occupations"
            [studentParents]="studentParents" (deleteItemEvent)="deleteItem($event)"
            [showLoginControls]="false"></app-student-parents-table>
    </div>
</div>