<div class="card mb-1">
    <app-table-heading
        tableTitle="{{tableTitle}}"></app-table-heading>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped table-hover text-nowrap">
            <thead>
                <tr>
                    <!-- <th *ngFor="let header of tableHeaders">
                        {{ header }}
                    </th> -->
                    <th>Ref# </th>
                    <th> Student Full Name </th>
                    <th> Adm no </th>
                    <th *ngIf="showMinimum"> Class name </th>
                    <th *ngIf="!showMinimum"> Class </th>
                    <th *ngIf="!showMinimum"> Stream </th>
                    <th *ngIf="!showMinimum"> Year </th>
                    <th> Date </th>
                    <th> Present? </th>
                    <th> Remarks </th>
                    <th *ngIf="showEditDeleteControls">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of studentAttendances | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as i">
                    <td>{{ item.present === null ? '': item.id }}</td>
                    <td>{{ item.studentClass?.student?.fullName }}</td>
                    <td>{{ item.studentClass?.student?.upi }}</td>
                    <td>{{ item.studentClass?.schoolClass?.name }}</td>
                    <td *ngIf="!showMinimum">
                        {{item.studentClass?.schoolClass?.learningLevel?.name}}
                    </td>
                    <td *ngIf="!showMinimum">
                        {{item.studentClass?.schoolClass?.schoolStream?.name}}
                    </td>
                    <td *ngIf="!showMinimum">
                        {{item.studentClass?.schoolClass?.academicYear?.name}}
                    </td>
                    <td>{{ item.date | date: 'dd/MM/yyyy - EEEE' }}</td>
                    <td>{{ item.present === null? '': item.present ? 'Present': 'Absent' }}</td>
                    <td>{{ item.remarks }}</td>
                    <app-table-action *ngIf="showEditDeleteControls && item.id > 0"
                        (editItemEvent)="editItem(item.id)"
                        (deleteItemEvent)="deleteItem(item.id)"></app-table-action>
                </tr>
            </tbody>
        </table>
        <app-table-paging (pageChangedEvent)="pageChanged($event)"
            (pageSizeChangedEvent)="pageSizeChanged($event)"
            [collectionSize]="studentAttendances.length"></app-table-paging>
    </div>
</div>