<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row">
            <div class="col-12">
                <a
                    [routerLink]="['/students/subjects/add']"
                    [routerLinkActive]="'active'"
                    class="btn btn-sm btn-flat btn-success float-right mt-1">
                    <i class="fas fa-plus-circle"></i> Manage Students Subjects
                </a>
            </div>
        </div>
        <div class="card my-1">
            <app-students-subjects-search-form [curricula]="curricula"
                [educationLevels]="educationLevels" [academicYears]="academicYears"
                [schoolClasses]="schoolClasses" [studentClasses]="studentClasses"
                (curriculumChangedEvent)="curriculumChanged($event)"
                (studentsChangedEvent)="studentsChanged()"
                (educationLevelYearChangedEvent)="educationLevelYearChanged($event)"
                (schoolClassChangedEvent)="schoolClassChanged($event)"
                (searchItemEvent)="dataSubmitted($event)"></app-students-subjects-search-form>
        </div>
        <!-- <app-exam-table [tableTitle]="'Examinations list'" *ngIf="isLoading"
            [subjects]="subjects" [exams]="exams" [examTypes]="examTypes"
            [schoolClasses]="schoolClasses" [sessions]="sessions"
            [curricula]="curricula" [eduLevelId]="eduLevelId"
            [academicYears]="academicYears"
            (deleteItemEvent)="deleteItem($event)"></app-exam-table> -->
    </div>
</section>