<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            My To Do List
        </h3>
        <div class="card-tools">
            <ngb-pagination [collectionSize]="todoLists.length" [(page)]="page"
                [pageSize]="pageSize" (pageChange)="pageChanged($event)"
                size="sm"></ngb-pagination>
        </div>
    </div>
    <div class="card-body p-1">
        <ul class="todo-list" data-widget="todo-list">
            <li
                *ngFor="let todoList of todoLists | slice: (page - 1) * pageSize: page * pageSize;let i= index"
                class="card todo-item-box">
                <i [id]="(page - 1) * pageSize + i"
                    class="fas fa-check-circle"
                    [ngClass]="completeBtnColors[(page - 1) * pageSize + i]"
                    (mouseover)="onMouseOver((page - 1) * pageSize + i)"
                    (mouseout)="onMouseOut((page - 1) * pageSize + i)"
                    role="button"
                    (click)="markCompleted(todoList)">
                </i>
                <span class="text" *ngIf="todoList.completed === true">
                    <del>{{ todoList.itemName }}</del>
                </span>
                <span class="text" *ngIf="todoList.completed === false">
                    {{ todoList.itemName }}
                </span>
                <span>
                    <small class="badge" [ngClass]="todoList.timeToDeadline <0 ? 'badge-danger':
                        todoList.timeToDeadline> 0 && todoList.timeToDeadline <60
                            ? 'badge-warning':todoList.timeToDeadline>= 60 &&
                            todoList.timeToDeadline <1440 ? 'badge-info': 'badge-success'">
                        <i class="far fa-clock"></i> {{ todoList.completeBy | displayTimeTo
                        }}
                    </small>
                    <span class="float-right">
                        <i class="fas fa-edit text-warning" role="button"
                            (click)="editRecord(todoList.id)"></i>
                        <span> | </span>
                        <i class="fas fa-trash text-danger" role="button"
                            (click)="deleteRecord(todoList.id)"></i>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="card-footer clearfix">
        <app-todolist-form [editmode]="false"
            (addToDoListItemEvent)="addItem($event)"></app-todolist-form>
    </div>
</div>