<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row">
            <div class="col-12">
                <a
                    [routerLink]="['/academics/exams/add']"
                    [routerLinkActive]="'active'"
                    class="btn btn-sm btn-flat btn-success float-right mt-1">
                    <i class="fas fa-plus-circle"></i> Add exams
                </a>
            </div>
        </div>
        <div class="card my-1">
            <app-exam-list-search-form [subjects]="subjects"
                [schoolClasses]="schoolClasses"
                (clearListEvent)="clearList()"
                (educationLevelYearChangedEvent)="educationLevelYearChanged($event)"
                [sessions]="sessions" [curricula]="curricula"
                (searchItemEvent)="onButtonSearchClick($event)" [examTypes]="examTypes"
                [academicYears]="academicYears" [educationLevels]="educationLevels"
                (curriculumYearChangedEvent)="curriculumYearChanged($event)"></app-exam-list-search-form>
        </div>
        <app-exam-table [tableTitle]="'Examinations list'" *ngIf="isLoading"
            [subjects]="subjects" [exams]="exams" [examTypes]="examTypes"
            [schoolClasses]="schoolClasses" [sessions]="sessions"
            [curricula]="curricula" [eduLevelId] = "eduLevelId"
            [academicYears]="academicYears"
            (deleteItemEvent)="deleteItem($event)"></app-exam-table>
    </div>
</section>