<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row m-0">
            <div class="col-12 p-0">
                <a
                    [routerLink]="['/academics/exams/add']"
                    [routerLinkActive]="'active'"
                    class="btn btn-sm btn-flat btn-success float-right mt-1">
                    <i class="fas fa-plus-circle"></i> Add exams
                </a>
            </div>
        </div>
        <div class="card my-1">
            <app-school-soft-filter-form [showAcademicYear]="true" [showCurriculum]="true"
                [showSession]="true" [showEducationLevel]="true" [showSchoolClass]="true"
                [showSubject]="true" [showExamType]="true" [academicYears]="academicYears"
                [curricula]="curricula" [sessions]="sessions" [educationLevels]="educationLevels"
                [schoolClasses]="schoolClasses" [subjects]="subjects" [examTypes]="examTypes"
                (academicYearChangedEvent)="academicYearChanged($event)"
                (curriculumChangedEvent)="curriculumChanged($event)"
                (educationLevelChangedEvent)="educationLevelChanged($event)"
                (sessionChangedEvent)="sessionChanged($event)"
                (schoolClassChangedEvent)="schoolClassChanged($event)"
                (subjectChangedEvent)="subjectChanged($event)"
                (examTypeChangedEvent)="examTypeChanged($event)"
                (searchItemEvent)="onButtonSearchClick($event)">
            </app-school-soft-filter-form>
        </div>
        <app-exam-table [tableTitle]="'Examinations list'" *ngIf="isLoading"
            [exams]="exams" [curricula]="curricula" [eduLevelId]="educationLevelId"
            [academicYears]="academicYears"
            (deleteItemEvent)="deleteItem($event)"></app-exam-table>
    </div>
</section>