<pf-dropdown [hideArrow]="true" class="user-menu">
    <div slot="button">
        <a class="nav-link">
            <pf-image
                [src]="user?.picture"
                fallbackSrc="assets/img/default-profile.png"
                class="user-image-small"
                width="25"
                height="25"
                alt="User Image"
                rounded="true"
            />
        </a>
    </div>
    <div slot="menu">
        <li class="user-header bg-primary">
            <pf-image
                [src]="user?.picture"
                fallbackSrc="assets/img/default-profile.png"
                class="user-image-big"
                alt="User Image"
                width="90"
                height="90"
                rounded="true"
            />
            <p>
                <span>{{ user?.firstName }} {{ user?.lastName }}</span>
                <small>{{ user?.email }}</small>
            </p>
        </li>
        <li class="user-body" *ngIf="user?.roles?.length > 0">
            <div class="text-center">
                <span class="badge bg-info me-1" *ngFor="let role of user?.roles">{{ role }}</span>
            </div>
        </li>
        <li class="user-footer">
            <a [routerLink]="['/profile']" class="btn btn-default btn-flat">
                <i class="fas fa-user mr-1"></i> Profile
            </a>
            <a (click)="logout()" class="btn btn-default btn-flat float-right" role="button">
                <i class="fas fa-sign-out-alt mr-1"></i> Sign out
            </a>
        </li>
    </div>
</pf-dropdown>
