<form [formGroup]="classLeadershipForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body">
        <div class="card-details-box border-info">
            <app-class-details-view [schoolClass]="schoolClass"
                [alignment]="'reduced'"></app-class-details-view>
            <div class="mt-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="classLeadershipRoleId" class="form-label">Leadership
                                role:<span
                                    class="requiredField">*</span></label>
                            <ng-select labelForId="classLeadershipRoleId"
                                [items]="classLeadershipRoles"
                                bindLabel="name"
                                (change)="loadPersons()"
                                formControlName="classLeadershipRoleId"
                                [ngClass]="{ 'is-invalid': (f.classLeadershipRoleId.dirty || f.classLeadershipRoleId.touched) && f.classLeadershipRoleId.invalid }"
                                placeholder="Select leadership role">
                                <ng-template ng-label-tmp let-item="item">
                                    <span>{{ item.name + ' - [' + personTypes[item.personType] +
                                        ']'}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm"
                                    let-index="index">
                                    <span>{{ item.name + ' - [' + personTypes[item.personType] +
                                        ']'}}</span>
                                </ng-template>
                            </ng-select>
                            <div class="invalid-feedback">Leadership role is required</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="personId" class="form-label">{{ classLeadershipRole ? personTypes[classLeadershipRole.personType] +' name:':'Person name:'}}<span
                                    class="requiredField">*</span></label>
                            <ng-select labelForId="personId" [items]="persons" bindLabel="fullName"
                                formControlName="personId"
                                [ngClass]="{ 'is-invalid': (f.personId.dirty || f.personId.touched) && f.personId.invalid }"
                                placeholder="Select person name">
                                <ng-template ng-label-tmp let-item="item">
                                    <span>{{ item.fullName + ' - [' + item.upi + ']'}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm"
                                    let-index="index">
                                    <span>{{ item.fullName + ' - [' + item.upi + ']'}}</span>
                                </ng-template>
                            </ng-select>
                            <div class="invalid-feedback">Person name is required</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Description</label>
                            <textarea placeholder="Subject description" id="description"
                                class="form-control" rows="3"
                                formControlName="description"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="submit" [disabled]="classLeadershipForm.invalid" class="btn
                btn-success"> <i class="fas fa-save"></i>
                {{ editMode ? 'Update' : 'Save' }}
            </button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                #closeButton (click)="closeClassLeadershipForm()">
                <i class="fas fa-times"></i> Close
            </button>
        </div>
    </div>
</form>