<div class="modal fade" id="staffAttendanceFormModal" tabindex="-1"
    attr.aria-labelledby="staffAttendanceItemModalLabel" aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="staffAttendanceFormModalLabel">
                    Record staff attendance
                </h5>
            </div>
            <app-staff-attendance-form [staffAttendance]="staffAttendance" [statuses]="statuses"
                [staff]="staff"
                (addItemEvent)="AddStaffAttendance($event)"
                *ngIf="staff"></app-staff-attendance-form>
        </div>
    </div>
</div>
<div class="row g-0">
    <div class="col-6">
        <app-date-month-year-filter-form [showMonth]="true" [months]="months" [years]="years" (monthChangedEvent)="monthChanged($event)"
        (yearChangedEvent)="yearChanged($event)"
            [showYear]="true" (searchItemEvent)="searchStaffAttendances($event)" ></app-date-month-year-filter-form>
    </div>
    <div class="col-6">
        <app-table-button btnClasses="btn btn-sm btn-flat btn-success float-right my-1"
            modelName="staffAttendance" buttonTitle="Add attendance"></app-table-button>
    </div>
</div>
<app-staff-attendance-table [tableTitle]="'Staff attendance list'" *ngIf="isDoneLoading"
    [staffAttendances]="staffAttendances" [showLoginControls]="false"
    (editItemEvent)="editItem($event)"
    (deleteItemEvent)="deleteItem($event)"></app-staff-attendance-table>