<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>

<div
    class="modal fade"
    id="{{tableModel}}FormModal"
    tabindex="-1"
    attr.aria-labelledby="{{tableModel}}ModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="{{tableModel}}FormModalLabel">
                    Exam type details - {{ editMode ? 'Edit' : 'Add' }}
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="examTypeForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="name">Exam type: <span
                                        class="requiredField">*</span></label>
                                <input id="name" placeholder="Exam type name" type="text"
                                    class="form-control" formControlName="name" [ngClass]="{
                                    'is-invalid': (f.name.dirty || f.name.touched) && f.name.invalid
                                    }" />
                                <div class="invalid-feedback"> Exam type name is required</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Abbreviation</label>
                                <input id="abbreviation" placeholder="Abbreviation" type="text"
                                    class="form-control" formControlName="abbreviation" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="custom-control custom-switch
                                    custom-switch-off-danger custom-switch-on-success">
                                    <input type="checkbox" class="custom-control-input"
                                        id="featured" formControlName="featured">
                                    <label class="custom-control-label"
                                        for="featured">Is this exam in this school?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Description</label>
                                <textarea placeholder="Education level type description"
                                    id="description"
                                    class="form-control" rows="2"
                                    formControlName="description"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" [disabled]="examTypeForm.invalid" class="btn
                        btn-success"> <i class="fas fa-save"></i>
                        {{ editMode ? 'Update' : 'Save' }}
                    </button>
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
                        (click)="refreshItems()">
                        <i class="fas fa-times"></i> Close
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <app-table-button modelName="{{tableModel}}"
                    buttonTitle="Add exam type"></app-table-button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <app-table-heading tableTitle="{{tableTitle}}"></app-table-heading>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-striped table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th *ngFor="let header of tableHeaders">
                                        {{ header }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of examTypes;index as i">
                                    <td>{{ item.name }}</td>
                                    <td>{{ item.abbreviation }}</td>
                                    <td><span i18n>{ item.featured , select, true {YES} false
                                            {NO}}</span></td>
                                    <td>{{ item.description }}</td>
                                    <app-table-action
                                        (editItemEvent)="editItem(item.id)"
                                        (deleteItemEvent)="deleteItem(item.id)"></app-table-action>
                                </tr>
                            </tbody>
                        </table>
                        <app-table-paging
                            [collectionSize]="examTypes.length"
                            (pageChangedEvent)="pageChanged($event)"
                            (pageSizeChangedEvent)="pageSizeChanged($event)"></app-table-paging>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
