<div class="card mb-1">
    <app-table-heading [editControls]="false"
        tableTitle="{{tableTitle}}"></app-table-heading>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped table-hover text-nowrap">
            <thead>
                <tr>
                    <th *ngFor="let header of tableHeaders">{{header}}</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of exams| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as i">
                    <td>
                        <span *ngFor="let curriculum of curricula">
                            <span *ngIf="curriculum.id === item.session?.curriculumId">
                                {{ curriculum?.name }}
                            </span>
                        </span>
                    </td>
                    <td>
                        <span *ngFor="let academicYear of academicYears">
                            <span *ngIf="academicYear.id === item.session?.academicYearId">
                                {{ academicYear?.name }}
                            </span>
                        </span>
                    </td>
                    <td>{{ item.session?.sessionName }}</td>
                    <td>{{ item.schoolClass?.name }}</td>
                    <td>{{ item.examType?.name }}</td>
                    <td>{{ item.subject?.name }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.examMark }}</td>
                    <td>{{ item.contributingMark }}</td>
                    <td>
                        <a [routerLink]="['/academics/exams/add']"
                            [queryParams]="{id: item.id, eduLevelId: eduLevelId}" class="edit"
                            data-toggle="tooltip" data-original-title="Edit">
                            <i class="fas fa-edit"></i></a>
                        <span> | </span>
                        <a class="delete" title data-toggle="tooltip"
                            (click)="deleteItem(item.id)"
                            data-original-title="Delete">
                            <i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <app-table-paging
            [collectionSize]="exams.length" (pageChangedEvent)="pageChanged($event)"
            (pageSizeChangedEvent)="pageSizeChanged($event)"></app-table-paging>
    </div>
</div>