<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<div
    class="modal fade"
    id="subjectFormModal"
    tabindex="-1"
    attr.aria-labelledby="SubjectModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50 p-2 p-2">
                <h5 class="modal-title" id="SubjectFormModalLabel">
                    Subject details
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-subjects-add-form (addItemEvent)="addSubject($event)"
                [subjectGroups]="subjectGroups" [departments]="departments" [staffs]="staffs"
                (errorEvent)="errorEvent($event)"
                [editMode]="false"></app-subjects-add-form>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row g-0">
            <div class="col-12">
                <app-table-button modelName="subject"
                    buttonTitle="Add subject"></app-table-button>
            </div>
        </div>
        <app-subjects-table [tableTitle]="'Subjects list'"
            (pageChangedEvent)="pageChanged($event)"
            (pageSizeChangedEvent)="pageSizeChanged($event)"
            [subjects]="subjects" [showLoginControls]="false"
            (editItemEvent)="editItem($event)" *ngIf="subjects"
            (deleteItemEvent)="deleteItem($event)"></app-subjects-table>
    </div>
</section>