<div class="modal fade" id="staffSubjectFormModal" tabindex="-1"
    attr.aria-labelledby="staffSubjectItemModalLabel" aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="staffSubjectFormModalLabel">
                    Record staff subject
                </h5>
            </div>
            <app-staff-subject-form [staffSubject]="staffSubject" [statuses]="statuses"
                [subjects]="subjects" [schoolClasses]="schoolClasses"
                (yearChangedEvent)="yearChanged($event)"
                [staff]="staff" [academicYears]="academicYears"
                (addItemEvent)="AddStaffSubject($event)"
                *ngIf="staff && academicYears"></app-staff-subject-form>
        </div>
    </div>
</div>

<div class="row g-0">
    <div class="col-6">
        <app-curriculum-year-filter-form [academicYears]="academicYears"
            (searchItemEvent)="searchForSubjects($event)"
            (academicYearChangedEvent)="academicYearChanged($event)"
            [showAcademicYear]="true"></app-curriculum-year-filter-form>
    </div>
    <div class="col-6">
        <app-table-button btnClasses="btn btn-sm btn-flat btn-success float-right my-1"
            modelName="staffSubject" buttonTitle="Add subject"></app-table-button>
    </div>
</div>
<app-staff-subject-table [tableTitle]="'Staff subjects list'"
    [staffSubjects]="staffSubjects" [showLoginControls]="false"
    (editItemEvent)="editItem($event)" [academicYears]="academicYears"
    *ngIf="staffSubjects && academicYears"
    (deleteItemEvent)="deleteItem($event)"
    (viewItemEvent)="editItem($event, 'view')"></app-staff-subject-table>