<div class="row">
    <div class="col-12">
        <div class="card mb-0">
            <app-table-heading
                tableTitle="{{tableTitle}} - {{students?.length}} items"></app-table-heading>
            <div class="card-body table-responsive p-0">
                <table class="table table-sm table-striped table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th *ngIf="showCheckBoxes">
                                <div class="icheck-success m-0 p-0">
                                    <input #checkAllStudents type="checkbox" id="checkAllStudents"
                                        (change)="checkAllClicked($event)" [checked]="disabled"
                                        [attr.disabled]="disabled? 'disabled' : null">
                                    <label class="form-check-label" for="checkAllStudents"></label>
                                </div>
                            </th>
                            <ng-container *ngFor="let header of tableHeaders">
                                <th *ngIf="!header.min">
                                    {{ header.name }}
                                </th>
                            </ng-container>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of students | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as i">
                            <th *ngIf="showCheckBoxes">
                                <div class="icheck-success m-0 p-0">
                                    <input type="checkbox" id="stud-id-{{item.id}}"
                                        (change)="itemClicked($event)"
                                        [(ngModel)]="item.isSelected" [disabled]="disabled">
                                    <label class="form-check-label"
                                        for="stud-id-{{item.id}}"></label>
                                </div>
                            </th>
                            <td>{{ item.upi }}</td>
                            <td><a href="javascript:void(0)" (click)="studentClicked(item.id)">
                                    {{ item.fullName }}
                                </a></td>
                            <td *ngIf="!showMinimum">{{ item.admissionDate | date: 'dd/MM/yyyy'
                                }}</td>
                            <td *ngIf="!showMinimum">
                                <div *ngFor="let lm of learningModes">
                                    <div *ngIf="lm.id === item.learningModeId">
                                        {{ lm.name }}
                                    </div>
                                </div>
                            </td>
                            <td>{{ statusValues[item.status] }}</td>
                            <!-- <app-table-action [tblShowViewButton]="true" [tblShowEditButton]="false" [tblShowDeleteButton]="false"
                                (viewItemEvent)="viewStudent(item.id)" (editItemEvent)="editStudent(item.id)"
                                (deleteItemEvent)="deleteStudent(item.id)"></app-table-action> -->
                        </tr>
                    </tbody>
                </table>
                <app-table-paging
                    [collectionSize]="students.length" (pageChangedEvent)="pageChanged($event)"
                    (pageSizeChangedEvent)="pageSizeChanged($event)"></app-table-paging>
            </div>
        </div>
    </div>
</div>