<form [formGroup]="studentClassForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body p-1">
        <app-student-details-view [studentDetails]="student" [statuses]="statuses"
            [alignment]="'reduced'"
            *ngIf="statuses"></app-student-details-view>
        <div class="border border-info my-1 p-1 rounded">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="academicYearId" class="form-label">Academic year:</label>
                        <select [attr.disabled]="action!=='add' ? 'disabled':null"
                            class="form-select form-select-sm" (change)="yearChanged()"
                            aria-label="Select year" formControlName="academicYearId"
                            id="academicYearId">
                            <option [ngValue]="null" hidden disabled selected>-Select year-</option>
                            <option [ngValue]="academicYear.id" *ngFor="let academicYear of
                            academicYears">{{academicYear.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="schoolClassId" class="form-label">Class:</label>
                        <input type="text" class="form-control form-control-sm form-control form-control-sm-sm" disabled
                            *ngIf="action!=='add'" value="{{schoolClassName}}" />
                        <select *ngIf="action==='add'"
                            [attr.disabled]="action!=='add' ? 'disabled':null"
                            class="form-select form-select-sm"
                            aria-label="Select class" formControlName="schoolClassId"
                            id="schoolClassId">
                            <option [ngValue]="null" hidden disabled selected>-Select
                                class-</option>
                            <option [ngValue]="schoolClass.id" *ngFor="let schoolClass of
                            schoolClasses">{{schoolClass.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Student class description:</label>
                        <textarea placeholder="Enter student class description" id="description"
                            [readOnly]="action==='view'"
                            class="form-control form-control-sm" rows="2" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer p-1">
        <button *ngIf="action !=='view'" type="submit"
            [disabled]="studentClassForm.invalid || !buttonSubmitActive"
            class="btn
                btn-success"> <i class="fas fa-save"></i>
            {{ action==='edit' ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
            #closeButton (click)="closeStudentClassForm()">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</form>