<form [formGroup]="studentClassForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-body">

        <app-student-details-view [studentDetails]="student" [statuses]="statuses"
            [alignment]="'reduced'"
            *ngIf="statuses"></app-student-details-view>
        <div class="border border-info mt-2 p-2 rounded">
            <app-year-class-stream #yearClassStream [academicYears]="academicYears" [learningLevels]="learningLevels"
                [schoolStreams]="schoolStreams" [f]="studentClassForm"></app-year-class-stream>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="description">Student class description:</label>
                        <textarea placeholder="Enter student class description" id="description"
                            [readOnly]="action==='view'"
                            class="form-control" rows="2" formControlName="description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="action !=='view'" type="submit" [disabled]="studentClassForm.invalid"
            class="btn
                btn-success"> <i class="fas fa-save"></i>
            {{ action==='edit' ? 'Update' : 'Save' }}
        </button>
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
            #closeButton (click)="closeStudentClassForm()">
            <i class="fas fa-times"></i> Close
        </button>
    </div>
</form>