<form class="px-0" [formGroup]="schoolSoftFilterForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row g-0">
        <ng-content *ngIf="showAcademicYear">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Academic year"
                    (change)="academicYearChanged()"
                    formControlName="academicYearId" id="academicYearId">
                    <option [ngValue]="null" selected>-Year-</option>
                    <option [ngValue]="academicYear.id" *ngFor="let academicYear of
                                    academicYears">{{academicYear.name}}</option>
                </select>
            </div>
        </ng-content>
         
        <ng-content *ngIf="showCurriculum">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Curriculum"
                    (change)="curriculumChanged()"
                    formControlName="curriculumId" id="curriculumId">
                    <option [ngValue]="null" selected>-Curriculum-</option>
                    <option [ngValue]="curriculum.id" *ngFor="let curriculum of
                                curricula">{{curriculum.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showSession">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="session"
                    (change)="sessionChanged()"
                    formControlName="sessionId" id="sessionId">
                    <option [ngValue]="null" selected>-Session-</option>
                    <option [ngValue]="session.id" *ngFor="let session of
                                    sessions">{{session.sessionName}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showEducationLevelType">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="educationLevelType"
                    (change)="educationLevelTypeChanged()"
                    formControlName="educationLevelTypeId" id="educationLevelTypeId">
                    <option [ngValue]="null" selected>-Level type-</option>
                    <option [ngValue]="level.id" *ngFor="let level of
                                educationLevelTypes">{{level.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showEducationLevel">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="educationLevel"
                    (change)="educationLevelChanged()"
                    formControlName="educationLevelId" id="educationLevelId">
                    <option [ngValue]="null" selected>-Level-</option>
                    <option [ngValue]="educationLevel.id" *ngFor="let educationLevel of
                                educationLevels">{{educationLevel.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showStaffCategory">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Staff category"
                    (change)="staffCategoryChanged()"
                    formControlName="staffCategoryId" id="staffCategoryId">
                    <option [ngValue]="null" selected>-Staff category-</option>
                    <option [ngValue]="staffCategory.id" *ngFor="let staffCategory of
                                    staffCategories">{{staffCategory.name}}</option>
                </select>
            </div>
        </ng-content>

        <ng-content *ngIf="showEmploymentType">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Employment type"
                    (change)="employmentTypeChanged()"
                    formControlName="employmentTypeId" id="employmentTypeId">
                    <option [ngValue]="null" selected>-Employment type-</option>
                    <option [ngValue]="employmentType.id" *ngFor="let employmentType of
                                    employmentTypes">{{employmentType.name}}</option>
                </select>
            </div>
        </ng-content>

        <ng-content *ngIf="showLearningMode">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Learning mode"
                    (change)="learningModeChanged()"
                    formControlName="learningModeId" id="learningModeId">
                    <option [ngValue]="null" selected>-Learning mode-</option>
                    <option [ngValue]="learningMode.id" *ngFor="let learningMode of
                                    learningModes">{{learningMode.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showSchoolClass">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="School class "
                    (change)="schoolClassChanged()"
                    formControlName="schoolClassId" id="schoolClassId">
                    <option [ngValue]="null" selected>-Class-</option>
                    <option [ngValue]="schoolClass.id" *ngFor="let schoolClass of
                                schoolClasses">{{schoolClass.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showPersonStatus">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Status"
                    (change)="statusChanged()"
                    formControlName="status" id="status">
                    <option [ngValue]="null" selected>-Status-</option>
                    <option [ngValue]="status[key]" *ngFor="let key of 
                                    statuses">{{key}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showStaffDetails">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Staff"
                    (change)="staffDetailsChanged()"
                    formControlName="staffDetailsId" id="staffDetailsId">
                    <option [ngValue]="null" selected>-Staff-</option>
                    <option [ngValue]="staff.id" *ngFor="let staff of
                                    staffDetails">{{staff.fullName}} - ({{staff.upi}})</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showStudentClass">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Student class "
                    (change)="studentClassChanged()"
                    formControlName="studentClassId" id="studentClassId">
                    <option [ngValue]="null" selected>-Student class-</option>
                    <option [ngValue]="studentClass.id" *ngFor="let studentClass of
                                studentClasses">{{studentClass.schoolClass?.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showSubject">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Subject"
                    (change)="subjectChanged()"
                    formControlName="subjectId" id="subjectId">
                    <option [ngValue]="null" selected>-Subject-</option>
                    <option [ngValue]="subject.id" *ngFor="let subject of
                                subjects">{{subject?.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showExamType">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Exam type"
                    (change)="examTypeChanged()"
                    formControlName="examTypeId" id="examTypeId">
                    <option [ngValue]="null" selected>-Exam type-</option>
                    <option [ngValue]="examType.id" *ngFor="let examType of
                                examTypes">{{examType?.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showExamName">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="ExamName"
                    (change)="examNameChanged()"
                    formControlName="examNameId" id="examNameId">
                    <option [ngValue]="null" selected>-Exam name-</option>
                    <option [ngValue]="examName.id" *ngFor="let examName of
                                examNames">{{examName?.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showExam">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Exam"
                    (change)="examChanged()"
                    formControlName="examId" id="examId">
                    <option [ngValue]="null" selected>-Exam-</option>
                    <option [ngValue]="exam.id" *ngFor="let exam of
                                exams">{{exam?.name}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showMonth">
            <div class="col py-1 px-1">
                <select class="form-select form-select-sm" aria-label="Month"
                    (change)="monthChanged()"
                    formControlName="month" id="month">
                    <option [ngValue]="null" selected>-Month-</option>
                    <option [ngValue]="month" *ngFor="let month of
                                months">{{getMonthName(month)}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showYear">
            <div class="col py-1 px-0">
                <select class="form-select form-select-sm" aria-label="Year"
                    (change)="yearChanged()"
                    formControlName="year" id="year">
                    <option [ngValue]="null" selected>-Year-</option>
                    <option [ngValue]="year" *ngFor="let year of
                                    years">{{year}}</option>
                </select>
            </div>
        </ng-content>
        <ng-content *ngIf="showDateFrom">
            <div class="col py-1 px-1">
                <div class="d-flex align-items-center gap-2">
                    <b>From:</b>
                    <input placeholder="Date from" id="dateFrom" type="date"
                        aria-label="Date from" class="form-control form-control-sm"
                        formControlName="dateFrom"
                        (change)="dateFromChanged()" />
                </div>
            </div>
        </ng-content>
        <ng-content *ngIf="showDateTo">
            <div class="col py-1 px-0">
                <div class="d-flex align-items-center gap-2">
                    <b>To:</b>
                    <input placeholder="Date to" id="dateTo" type="date"
                        aria-label="Date to" class="form-control form-control-sm"
                        formControlName="dateTo"
                        (change)="dateToChanged()" />
                </div>
            </div>
        </ng-content>
        <div class="col py-1 ps-1">
            <button type="submit" [disabled]="schoolSoftFilterForm.invalid"
                class="btn btn-sm btn-flat btn-warning">
                <i class="fas fa-sync"></i> Search
            </button>
        </div>
    </div>
</form>