<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>

<section class="content">
    <div class="container-fluid">
        <div class="row py-1">
            <div class="col-12">
                <a [routerLink]="[backLinkUrl]"
                    class="btn btn-sm btn-flat btn-warning float-left">
                    <i class="fas fa-angle-double-left"></i> Back to staff list
                </a>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-1">
                <div class="row">
                    <div class="col-12">
                        <app-staff-details-view [staffDetails]="staff" [statuses]="statuses"
                            *ngIf="statuses"></app-staff-details-view>
                    </div>
                </div>
                <div class="row pt-1">
                    <div class="col-12">
                        <div class="card card-success card-outline mb-1">
                            <div class="card-header p-1">
                                <ul class="nav nav-pills" id="pills-tab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button
                                            class="nav-link {{activeNav==='attendance'? 'active':''}}"
                                            id="attendance-tab"
                                            data-bs-toggle="pill" data-bs-target="#attendance"
                                            type="button" role="tab" aria-controls="attendance"
                                            aria-selected="true">Attendance details</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button
                                            class="nav-link {{activeNav==='discipline'? 'active':''}}"
                                            id="discipline-tab"
                                            data-bs-toggle="pill" data-bs-target="#discipline"
                                            type="button" role="tab" aria-controls="discipline"
                                            aria-selected="false">Discipline details</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button
                                            class="nav-link {{activeNav==='subjects'? 'active':''}}"
                                            id="subjects-tab"
                                            data-bs-toggle="pill"
                                            data-bs-target="#subjects" type="button" role="tab"
                                            aria-controls="subjects" aria-selected="false">
                                            Subjects assignments details
                                        </button>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body p-1">
                                <div class="tab-content" id="pills-tabContent">
                                    <div
                                        class="tab-pane fade {{activeNav==='attendance'? 'show active':''}}"
                                        id="attendance"
                                        role="tabpanel"
                                        aria-labelledby="attendance-tab">
                                        <div class="border border-info rounded p-1 pt-0">
                                            <app-staff-attendance [statuses]="statuses"
                                                [staff]="staff"></app-staff-attendance>
                                        </div>
                                    </div>
                                    <div
                                        class="tab-pane fade {{activeNav==='discipline'? 'show active':''}}"
                                        id="discipline" role="tabpanel"
                                        aria-labelledby="discipline-tab">
                                        <div class="border border-info rounded p-1">
                                            <app-staff-discipline [statuses]="statuses"
                                                [staff]="staff" [outcomes]="outcomes"
                                                [occurenceTypes]="occurenceTypes"></app-staff-discipline>
                                        </div>
                                    </div>
                                    <div
                                        class="tab-pane fade {{activeNav==='subjects'? 'show active':''}}"
                                        id="subjects" role="tabpanel"
                                        aria-labelledby="subjects-tab">
                                        <div class="border border-info rounded p-1">
                                            <app-staff-subject [statuses]="statuses"
                                                [staff]="staff" [subjects]="subjects"></app-staff-subject>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>