<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <a
                    [routerLink]="['/students/add']"
                    [routerLinkActive]="'active'"
                    class="btn btn-sm btn-flat btn-success float-right my-1">
                    <i class="fas fa-plus-circle"></i> Add student
                </a>
            </div>
        </div>
        <app-students-table *ngIf="students" [students]="students" [showType]="sourceLink"
        (deleteItemEvent)="deleteItem($event)"></app-students-table>
    </div>
</section>