<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row g-0">
            <ng-content *ngIf="querySource==='dashboard'">
                <div class="col">
                    <a
                        class="btn btn-flat btn-sm btn-warning float-left my-1"
                        [routerLink]="['/']"
                        [routerLinkActive]="'active'"><i class="fas fa-angle-double-left"></i>
                        Back
                    </a>
                </div>
            </ng-content>
            <div class="col">
                <app-curriculum-year-filter-form (searchItemEvent)="searchClicked($event)"
                    (statusChangedEvent)="statusChanged($event)"
                    [showPersonStatus]="true"></app-curriculum-year-filter-form>
            </div>
            <div class="col">
                <a
                    [routerLink]="['/students/details/add']"
                    [routerLinkActive]="'active'"
                    class="btn btn-sm btn-flat btn-success float-right my-1">
                    <i class="fas fa-plus-circle"></i> Add student
                </a>
            </div>
        </div>
        <app-students-table *ngIf="students && showTable" [students]="students"
            [showType]="sourceLink" [status]="status"
            (deleteItemEvent)="deleteItem($event)" [querySource]="querySource"></app-students-table>
    </div>
</section>