<div class="card">
    <app-table-heading
        tableTitle="{{tableTitle}} - {{staffAttendances?.length}} items"></app-table-heading>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped table-hover text-nowrap">
            <thead>
                <tr>
                    <th *ngFor="let header of tableHeaders">
                        {{ header }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let item of staffAttendances | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as i">
                    <td>{{ item.staffDetails?.fullName }}</td>                    
                    <td>{{ item.date | date: 'MMMM' }}</td>
                    <td>{{ item.date | date: 'yyyy' }}</td>
                    <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ item.present ? 'Present': 'Absent' }}</td>
                    <td>{{ item.remarks }}</td>
                    <app-table-action
                        (editItemEvent)="editItem(item.id)"
                        (deleteItemEvent)="deleteItem(item.id)"></app-table-action>
                </tr>
            </tbody>
        </table>
        <app-table-paging
            [collectionSize]="staffAttendances.length"></app-table-paging>
    </div>
</div>