<div class="modal fade" id="studentFormerSchoolFormModal" tabindex="-1"
    attr.aria-labelledby="studentFormerSchoolItemModalLabel" aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50">
                <h5 class="modal-title" id="studentFormerSchoolFormModalLabel">
                    Record student former school
                </h5>
            </div>
            <app-student-former-school-form [studentFormerSchool]="studentFormerSchool"
                [statuses]="statuses"
                [student]="student" [curricula]="curricula" [educationLevels]="educationLevels"
                (addItemEvent)="AddStudentFormerSchool($event)"
                *ngIf="student && curricula && educationLevels"></app-student-former-school-form>
        </div>
    </div>
</div>

<div class="row g-0">
    <div class="col-6">
        <app-curriculum-year-filter-form [curricula]="curricula"
            (searchItemEvent)="searchSubmited($event)"
            (curriculumChangedEvent)="curriculumChanged($event)"
            [showCurriculum]="true"></app-curriculum-year-filter-form>
    </div>
    <div class="col-6">
        <app-table-button btnClasses="btn btn-sm btn-flat btn-success float-right my-1"
            modelName="studentFormerSchool" buttonTitle="Add former school"></app-table-button>
    </div>
</div>
<app-student-former-school-table [tableTitle]="'Student former schools list'"
    [studentFormerSchools]="studentFormerSchools" [showLoginControls]="false"
    (editItemEvent)="editItem($event)" (viewItemEvent)="editItem($event, 'view')"
    (deleteItemEvent)="deleteItem($event)"></app-student-former-school-table>