<app-dashboard-header
    [title]="dashboardTitle"
    [breadcrumbs]="breadcrumbs"></app-dashboard-header>
<hr>
<div
    class="modal fade"
    id="learningLevelFormModal"
    tabindex="-1"
    attr.aria-labelledby="LearningLevelModalLabel"
    aria-hidden="true"
    data-bs-backdrop="static"
    data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-success opacity-50 p-2">
                <h5 class="modal-title" id="LearningLevelFormModalLabel">
                    Learning level details
                </h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"
                    #closebutton (click)="resetForm()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-learning-levels-form (addItemEvent)="addLearningLevel($event)"
                [educationLevels]="educationLevels" (errorEvent)="errorEvent($event)"
                [editMode]="false"></app-learning-levels-form>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid px-1">
        <div class="row g-0">
            <div class="col-6">
                <app-school-soft-filter-form
                    [showCurriculum]="true" (searchItemEvent)="searchClicked($event)"
                    (curriculumChangedEvent)="curriculumChanged($event)"
                    [curricula]="curricula"></app-school-soft-filter-form>
            </div>
            <div class="col-6">
                <app-table-button modelName="learningLevel"
                    buttonTitle="Add learning level"></app-table-button>
            </div>
        </div>
        <div class="card">
            <app-table-heading
                tableTitle="{{tableTitle}}"></app-table-heading>
            <div class="card-body table-responsive p-0">
                <table class="table table-striped table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th *ngFor="let header of tableHeaders">
                                {{ header }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let item of learningLevels| slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;index as i">
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.educationLevel?.name }}</td>
                            <td>{{ item.rank }}</td>
                            <td>{{ item.description }}</td>
                            <app-table-action
                                (editItemEvent)="editItem(item.id)"
                                (deleteItemEvent)="deleteItem(item.id)"></app-table-action>
                        </tr>
                    </tbody>
                </table>
                <app-table-paging (pageChangedEvent)="pageChanged($event)"
                    (pageSizeChangedEvent)="pageSizeChanged($event)"
                    [collectionSize]="learningLevels.length"></app-table-paging>
            </div>
        </div>
    </div>
</section>